.app {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

main {
  width: 100%;
  }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  }

body {
  background-color: #171B26;
  color: white;
  overflow-x: hidden;
}
